<%- include("template/cabezera",{titulo: "Titulo Error"}) %>
<body>
  <%- include("template/navbar") %>
  <h1>404 EJS</h1>
  <h2><%= error %></h2>
  <h2><%= description %></h2>
  <%- include("template/footer") %>
</body>
