<%- include("template/cabezera",{titulo: "Detalles de Mascotas"}) %>
<body>
  <%- include("template/navbar") %>
  <div class="container">
    <h1>Detalle Mascotas</h1>
    <% if(error) {%>
    <p><%= mensaje %></p>
    <a href="/mascotas" class="btn btn-dark w-100">Volver a Mascotas</a>
    <% } %> <% if(!error) {%>

    <form id="formularioEditar" data-id="<%= mascota.id %>">
      <input
        type="text"
        class="form-control my-2"
        name="nombre"
        value="<%= mascota.nombre %>"
        id="nombreInput"
      />
      <input
        type="text"
        class="form-control my-2"
        name="descripcion"
        value="<%= mascota.descripcion %>"
        id="descripcionInput"
      />
      <button class="btn btn-warning w-100" type="submit">Editar</button>
    </form>
    <hr />
    <button
      class="btn btn-danger w-100"
      id="btnEliminar"
      data-id="<%= mascota.id %>"
    >
      Eliminar
    </button>

    <% } %>
  </div>

  <%- include("template/footer") %>
</body>

<script>
  const idEliminar = document.querySelector("#btnEliminar");
  idEliminar.addEventListener("click", async () => {
    const id = idEliminar.dataset.id;
    console.log(id, "soy el id");

    try {
      const data = await fetch(`/mascotas/${id}`, {
        method: "delete",
      });
      const res = await data.json();
      console.log(res, "soy el console");
      if (res.estado) {
        alert("Se elimino correctamente la mascota");
        window.location.href = "/mascotas";
      } else {
        console.log(res);
      }
    } catch (error) {
      console.log(error);
    }
  });

  const editarFormulario = document.querySelector("#formularioEditar");
  editarFormulario.addEventListener("submit", async (e) => {
    e.preventDefault();
    console.log("submit...");
    const nombre = editarFormulario.elements["nombre"].value;
    const descripcion = document.querySelector("#descripcionInput").value;
    const id = editarFormulario.dataset.id;

    try {
      const data = await fetch(`/mascotas/${id}`, {
        method: "put",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ nombre, descripcion }),
      });
      const res = await data.json();
      if (res.estado) {
        alert(res.mensaje);
        window.location.href = "/mascotas";
      } else {
        alert("No se puede cambiar ");
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
